<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visanet Checkout</title>
  </head>
  <body>
    <script
      src="https://static-content-qas.vnforapps.com/v2/js/checkout.js?qa=true"
      defer
    ></script>
    <script>
      function openForm() {
        VisanetCheckout.configure({
          sessiontoken:
            "cb16578f3857e9e599aad8e826fe137e5f0d00f6ef66d5cd25ed8c04e4a3cc8a",
          channel: "web",
          merchantid: "456879852",
          purchasenumber: 681720698699,
          amount: 37.5,
          merchantname: "FISIOM FULNES",
          expirationminutes: "20",
          timeouturl: "about:blank",
          merchantlogo: "fisiom.png",
          formbuttoncolor: "#000000",
          action: "/purchases/renderPaymentResult",
        });
        VisanetCheckout.open();
      }

      window.onload = function () {
        openForm();
      };
    </script>
  </body>
</html>
;"
